<header>
  <app-nav-bar></app-nav-bar>
</header>
<main>
 <router-outlet  name="homemain"></router-outlet>
  <!-- <app-content-main></app-content-main> -->
</main>

<app-footer-home></app-footer-home>
