<!--Card-->
<div class="card profile-card">

  <!--Avatar-->
  <div class="avatar z-depth-1-half mb-4">
      <img src="assets/main/avatar.jpg" class="rounded-circle" alt="First sample avatar image">
  </div>

  <div class="card-body pt-0 mt-0">
      <!--Name-->
      <div class="text-center">
          <h3 class="mb-3 font-bold"><strong>{{ profile.lastName }} {{ profile.firstName }}</strong></h3>
          <h6 class="font-bold blue-text mb-4">Peche à la carpe</h6>
      </div>

      <ul class="striped list-unstyled">
          <li><strong>Adresse mail:</strong> {{ profile.email }}</li>
          
          <li><strong>Ville:</strong> {{ profile.town }}</li>
          
          <li><strong>Date de naissance:</strong> {{ profile.birthday | dateFormat }}</li>
          
          <li><strong>Blog:</strong> <a href="{{ profile.blog }}" target="_about"> {{ profile.blog }}</a></li> 
      </ul>

  </div>

</div>
<!--Card-->