<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>
                  Oops!</h1>
              <h2>
                  404 page non trouvé</h2>
              <div class="error-details">
                  Désolé, la page demandée n'existe pas !
              </div>
              <div class="error-actions">
                  <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Retourner à la page d'accueil </a>
              </div>
          </div>
      </div>
  </div>
</div>