<section class="my-5">
  <!--Card-->
  <div class="card card-cascade narrower">

      <!--Section: Chart-->
      <section>

          <!--Grid row-->
          <div class="row">

              <!--Grid column-->
              <div class="col-xl-5 col-lg-12 mr-0">

                  <!--Card image-->
                  <div class="view view-cascade gradient-card-header blue-gradient mb-5">
                      <h2 class="h2-responsive mb-0">Mon compte</h2>
                  </div>
                  <!--/Card image-->

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-xl-7 col-lg-12 my-5">

                  
              </div>
              <!--Grid column-->
          </div>
          <!--Grid row-->
          
          <!-- Grid row -->
          <div class="row">
              
          </div>
          <!-- Grid row -->

      </section>
      <!--Section: Chart-->

  </div>
  <!--/.Card-->
</section>