<section class="section team-section">
    <div class="row">
        <div class="col-md-4 mb-1">
            <app-profile-cards></app-profile-cards>
        </div>
        <div class="col-md-8 mb-1">
            <div class="row stat-block">
                <div class="col-md-6 mb-3">
                    <!--Card-->
                    <div class="card card-cascade cascading-admin-card">

                        <!--Card Data-->
                        <div class="admin-up">
                            <i class="fa fa-money primary-color"></i>
                            <div class="data">
                                <p>SESSIONS</p>
                                <h4><strong>126</strong></h4>
                            </div>
                        </div>
                        <!--/.Card Data-->

                        <!--Card content-->
                        <div class="card-body card-body-cascade">
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--Text-->
                            <p class="card-text">Pecheur bronze (50%)</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <div class="col-md-6 mb-3">
                    <!--Card-->
                    <div class="card card-cascade cascading-admin-card">

                        <!--Card Data-->
                        <div class="admin-up">
                            <i class="fa fa-line-chart warning-color"></i>
                            <div class="data">
                                <p>NOMBRE D'HEURE</p>
                                <h4><strong>1500</strong></h4>
                            </div>
                        </div>
                        <!--/.Card Data-->

                        <!--Card content-->
                        <div class="card-body card-body-cascade">
                            <div class="progress">
                                <div class="progress-bar bg grey darken-2" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--Text-->
                            <p class="card-text">Pecheur bronze (25%)</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-6 mb-1">
                    <!--Card-->
                    <div class="card card-cascade cascading-admin-card">

                        <!--Card Data-->
                        <div class="admin-up">
                            <i class="fa fa-bar-chart red accent-2"></i>
                            <div class="data">
                                <p>Nombre de poissons</p>
                                <h4><strong>29</strong></h4>
                            </div>
                        </div>
                        <!--/.Card Data-->

                        <!--Card content-->
                        <div class="card-body card-body-cascade">
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--Text-->
                            <p class="card-text">Better than last week (25%)</p>
                        </div>
                        <!--/.Card content-->
                    </div>
                    <!--/.Card-->
                </div>
                <div class="col-md-6 mb-1">
                    <!--Card-->
                    <div class="card card-cascade cascading-admin-card">

                        <!--Card Data-->
                        <div class="admin-up">
                            <i class="fa fa-pie-chart light-blue lighten-1"></i>
                            <div class="data">
                                <p>RECORD</p>
                                <h4><strong>Carpe 18kg</strong></h4>
                            </div>
                        </div>
                        <!--/.Card Data-->

                        <!--Card content-->
                        <div class="card-body card-body-cascade">
                            <div class="progress">
                                <div class="progress-bar grey darken-2" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--Text-->
                            <p class="card-text">Boeuf (75%)</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5">

    <!--Card-->
    <div class="card card-cascade narrower">

        <!--Section: Chart-->
        <section>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-xl-5 col-lg-12 mr-0">

                    <!--Card image-->
                    <div class="view view-cascade gradient-card-header blue-gradient mb-5">
                        <h2 class="h2-responsive mb-0">Mes spots de peche</h2>
                    </div>
                    <!--/Card image-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-7 col-lg-12 my-5">

                    
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-xl-12 col-lg-12">
                    <!-- map -->
                    <div id="map" class="map mr-2 ml-2 mb-4"></div>
                    <div style="display: none;">
                        <div id="marker" title="Marker"></div>
                        <!-- Popup -->
                        <div id="popup" title="Welcome to OpenLayers"></div>
                    </div>
                    <!-- map -->
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Chart-->

    </div>
    <!--/.Card-->

</section>

<section class="my-5">

    <!--Card-->
    <div class="card card-cascade narrower">

        <!--Section: Chart-->
        <section>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-xl-5 col-lg-12 mr-0">

                    <!--Card image-->
                    <div class="view view-cascade gradient-card-header blue-gradient mb-5">
                        <h2 class="h2-responsive mb-0">Mes sessions</h2>
                    </div>
                    <!--/Card image-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-7 col-lg-12 my-5">

                    
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            
            <!--Grid row-->
            <div *ngFor="let post of posts">
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-1">
                        <!--Featured image-->
                        <div class="timeline primary-color">
                            
                        </div>
                        <div class="timeline-date primary-color">
                            14 sept 2018
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-4 mb-4">
                        <!--Featured image-->
                        <div class="view overlay  z-depth-1">
                            <img src="{{post.img}}" alt="{{post.number}} sample image" class="img-fluid">
                            <a>
                                <div class="mask rgba-white-slight waves-effect waves-light" mdbWavesEffect></div>
                            </a>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-7 mb-4">
                        <!--Excerpt-->
                        <a href="" class="{{post.color}}">
                            <h6 class="pb-1">
                                <i class="{{post.icon}}"></i>
                                <strong> {{post.category}}</strong>
                            </h6>
                        </a>
                        <h4 class="mb-4">
                            <strong>{{post.title}}</strong>
                        </h4>
                        <p>{{post.content}}</p>
                        <p>by
                            <a>
                                <strong>{{post.by}}</strong>
                            </a>, {{post.date}}</p>
                        <a class="btn btn-primary waves-effect waves-light" mdbWavesEffect>Read more</a>
                    </div>
                    <!--Grid column-->
                </div>
                <!--<hr class="mb-5">-->
                <!--Grid row-->
            </div>

            <!--Pagination dark-->
            <nav class="wow fadeIn mb-4 mt-5" data-wow-delay="0.4s" style="visibility: visible; animation-name: none;">
                <ul class="pagination pg-dark flex-center">
                    <!--Arrow left-->
                    <li class="page-item">
                        <a class="page-link waves-effect waves-effect" aria-label="Previous" mdbWavesEffect>
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    <!--Numbers-->
                    <li class="page-item active">
                        <a class="page-link waves-effect waves-effect" mdbWavesEffect>1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link waves-effect waves-effect" mdbWavesEffect>2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link waves-effect waves-effect" mdbWavesEffect>3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link waves-effect waves-effect" mdbWavesEffect>4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link waves-effect waves-effect" mdbWavesEffect>5</a>
                    </li>

                    <!--Arrow right-->
                    <li class="page-item">
                        <a class="page-link waves-effect waves-effect" mdbWavesEffect  aria-label="Next">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--/Pagination dark-->

        </section>
        <!--Section: Chart-->

    </div>
    <!--/.Card-->

</section>