#intro {
    background: url("/assets/login/login-home3.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header,
#intro {
    height: 100% !important;
}