<!--Main Navigation-->
<header>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar teal darken-3" [containerInside]="false">
  
      <!-- Navbar brand -->
      
        <!-- <mdb-navbar-brand> -->
            <!-- <a class="navbar-brand" href="#">
                <img src="assets/bigmouth-logo.png" height="30" alt="">
            </a>
        </mdb-navbar-brand> -->
  
      <!-- Collapsible content -->
      <links>
  
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link waves-light" mdbWavesEffect>Accueil<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link waves-light" mdbWavesEffect>Présentation</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
              </li>
  
              <!-- Dropdown -->
              <li class="nav-item dropdown" dropdown>
                  <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  Basic dropdown<span class="caret"></span></a>
                  <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                      <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                      <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                      <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                      <div class="divider dropdown-divider"></div>
                      <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                  </div>
              </li>
  
          </ul>
          <!-- Links -->
                    
      </links>
      <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->

<!--Mask-->
<div id="intro" class="view">

    <div class="mask rgba-blue-grey-slight d-flex justify-content-center align-items-center">

        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-6 mb-4 pb-5">
                    
                </div>
                <div class="col-md-6 mb-4">
                    <div class="modal-dialog cascading-modal" role="document">

                        <!--Content-->
                        <div class="modal-content">

                            <!--Header-->
                            <div class="modal-header default-color white-text">
                            <h4 class="title">
                                <i class="fa fa-lock"></i> Authentification:</h4>
                            </div>
                            <!--Body-->
                            <div class="modal-body">
                                <form [formGroup]="loginForm" (ngSubmit)="onSignIn()">

                                    <div class="md-form form-group">
                                        <i class="fa fa-envelope prefix grey-text"></i>
                                        <input mdbInputDirective type="text" id="defaultForm-email" class="form-control" formControlName="username" data-error="Email invalide" data-success="ok">
                                        <label for="defaultForm-email">Votre email</label>
                                    </div>
        
                                    <div class="md-form form-group">
                                        <i class="fa fa-lock prefix grey-text"></i>
                                        <input mdbInputDirective type="password" id="defaultForm-pass" class="form-control" formControlName="password" data-error="Mot de passe invalide" data-success="ok">
                                        <label for="defaultForm-pass">Votre mot de passe</label>
                                    </div>
                                    
                                    <div class="d-flex justify-content-center">
                                        <span *ngIf="!authStatus" class="text-warning">Email ou mot de passe invalide</span>
                                    </div>
        
                                    <div class="text-center">
                                        <button class="btn btn-default waves-effect waves-light" type="submit" [disabled]="loginForm.invalid">Se connecter</button>
                                    </div>
                                </form>
                            </div>

                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options">
                                    <p>Pas encore inscrit ?
                                        <a href="#">S'inscrire</a>
                                    </p>
                                    <p>Perdu
                                        <a href="#">Mot de passe ?</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/.Content-->

                        
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!--/.Mask-->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5">
  <div class="container">

      <!--Section: Best Features-->
      <section id="best-features" class="text-center">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold">La nouvelle plateforme dédiée à la pêche</h2>

        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">

            <!--Grid column-->
            <div class="col-md-8">

                <!-- Description -->
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                    facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                    sit pariatur.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-4 mb-1">
                <!-- Card -->
                <div class="card">

                    <!-- Card image -->
                    <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>
                
                    <!-- Card content -->
                    <div class="card-body">
                
                    <!-- Title -->
                    <h4 class="card-title">Carnet de peche</h4>
                    <!-- Text -->
                    <p class="card-text">RSPeche met à disposition la technologie .</p>
                    <!-- Button -->
                    <a href="#" class="btn btn-primary">Button</a>
                
                    </div>
                
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-1">
                <!-- Card -->
                <div class="card">

                        <!-- Card image -->
                        <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                        </div>
                    
                        <!-- Card content -->
                        <div class="card-body">
                    
                        <!-- Title -->
                        <h4 class="card-title">Card title</h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Button</a>
                    
                        </div>
                    
                    </div>
                    <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-1">
                <!-- Card -->
                <div class="card">

                        <!-- Card image -->
                        <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                        </div>
                    
                        <!-- Card content -->
                        <div class="card-body">
                    
                        <!-- Title -->
                        <h4 class="card-title">Card title</h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Button</a>
                    
                        </div>
                    
                    </div>
                    <!-- Card -->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Best Features-->

      <hr class="my-5">

      <!--Section: Examples-->
      <section id="examples" class="text-center">

          <!-- Heading -->
          <h2 class="mb-5 font-weight-bold">Stunning Examples</h2>

          <!--Grid row-->
          <div class="row">

              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">

                  <div class="view overlay z-depth-1-half">
                      <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid" alt="">
                      <div class="mask rgba-white-slight"></div>
                  </div>

                  <h4 class="my-4 font-weight-bold">Heading</h4>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                      assumenda deleniti hic.</p>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">

                  <div class="view overlay z-depth-1-half">
                      <img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" class="img-fluid" alt="">
                      <div class="mask rgba-white-slight"></div>
                  </div>

                  <h4 class="my-4 font-weight-bold">Heading</h4>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                      assumenda deleniti hic.</p>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">

                  <div class="view overlay z-depth-1-half">
                      <img src="https://mdbootstrap.com/img/Photos/Others/images/29.jpg" class="img-fluid" alt="">
                      <div class="mask rgba-white-slight"></div>
                  </div>

                  <h4 class="my-4 font-weight-bold">Heading</h4>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                      assumenda deleniti hic.</p>

              </div>
              <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">

              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">

                  <div class="view overlay z-depth-1-half">
                      <img src="https://mdbootstrap.com/img/Photos/Others/images/10.jpg" class="img-fluid" alt="">
                      <div class="mask rgba-white-slight"></div>
                  </div>

                  <h4 class="my-4 font-weight-bold">Heading</h4>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                      assumenda deleniti hic.</p>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">

                  <div class="view overlay z-depth-1-half">
                      <img src="https://mdbootstrap.com/img/Photos/Others/images/11.jpg" class="img-fluid" alt="">
                      <div class="mask rgba-white-slight"></div>
                  </div>

                  <h4 class="my-4 font-weight-bold">Heading</h4>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                      assumenda deleniti hic.</p>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">

                  <div class="view overlay z-depth-1-half">
                      <img src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" class="img-fluid" alt="">
                      <div class="mask rgba-white-slight"></div>
                  </div>

                  <h4 class="my-4 font-weight-bold">Heading</h4>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                      assumenda deleniti hic.</p>

              </div>
              <!--Grid column-->

          </div>
          <!--Grid row-->

      </section>
      <!--Section: Examples-->

      <hr class="my-5">

      <!--Section: Gallery-->
      <section id="gallery">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold text-center">Gallery heading</h2>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

              <!--Carousel Wrapper-->
              <mdb-carousel [isControls]="true" [animation]="'slide'">
                  <!--First slide-->
                  <mdb-carousel-item>
                      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
                  </mdb-carousel-item>
                  <!--/First slide-->
                  <!--Second slide-->
                  <mdb-carousel-item>
                      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
                  </mdb-carousel-item>
                  <!--/Second slide-->
                  <!--Third slide-->
                  <mdb-carousel-item>
                      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
                  </mdb-carousel-item>
                  <!--/Third slide-->
              </mdb-carousel>
              <!--/.Carousel Wrapper-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">
              <!--Excerpt-->
              <a href="" class="teal-text">
                  <h6 class="pb-1"><i class="fa fa-heart"></i><strong> Lifestyle </strong></h6>
              </a>
              <h4 class="mb-3"><strong>This is title of the news</strong></h4>
              <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                  placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis
                  debitis aut rerum.</p>

              <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                  placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis
                  debitis aut rerum.</p>
              <p>by <a><strong>Jessica Clark</strong></a>, 26/08/2016</p>
              <a class="btn btn-primary btn-md">Read more</a>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Gallery-->

      <hr class="my-5">
  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer unique-color-dark pt-0">

  <!--Footer Links-->
  <div class="container mt-5 mb-4 text-center text-md-left">
      <div class="row mt-3">
  
          <!--First column-->
          <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
              <h6 class="text-uppercase font-weight-bold">
                  <strong>Company name</strong>
              </h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                  amet, consectetur adipisicing elit.</p>
          </div>
          <!--/.First column-->
  
          <!--Second column-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase font-weight-bold">
                  <strong>Products</strong>
              </h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                  <a href="#!">MDBootstrap</a>
              </p>
              <p>
                  <a href="#!">MDWordPress</a>
              </p>
              <p>
                  <a href="#!">BrandFlow</a>
              </p>
              <p>
                  <a href="#!">Bootstrap Angular</a>
              </p>
          </div>
          <!--/.Second column-->
  
          <!--Third column-->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase font-weight-bold">
                  <strong>Useful links</strong>
              </h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                  <a href="#!">Your Account</a>
              </p>
              <p>
                  <a href="#!">Become an Affiliate</a>
              </p>
              <p>
                  <a href="#!">Shipping Rates</a>
              </p>
              <p>
                  <a href="#!">Help</a>
              </p>
          </div>
          <!--/.Third column-->
  
          <!--Fourth column-->
          <div class="col-md-4 col-lg-3 col-xl-3">
              <h6 class="text-uppercase font-weight-bold">
                  <strong>Contact</strong>
              </h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                  <i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
              <p>
                  <i class="fa fa-envelope mr-3"></i> info@example.com</p>
              <p>
                  <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
              <p>
                  <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!--/.Fourth column-->
  
      </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
      © 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com </a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->