<!--Main Navigation-->
<header>
   
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark double-nav">
  
      <!-- Navbar brand -->
      <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>
  
      <!-- Collapsible content -->
      <links>
  
          <!-- Links -->
          <ul class="nav navbar-nav nav-flex-icons ml-auto">
              <li class="nav-item">
                  <a class="nav-link">
                      <i class="fa fa-envelope"></i>
                      <span class="clearfix d-none d-sm-inline-block">Contact</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link">
                      <i class="fa fa-gear"></i>
                      <span class="clearfix d-none d-sm-inline-block">Settings</span>
                  </a>
              </li>
              <li class="nav-item  dropdown" dropdown>
                  <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                      <i class="fa fa-user"></i>
                      <span class="clearfix d-none d-sm-inline-block">Account</span>
                  </a>
                  <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                      <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                      <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                      <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                  </div>
              </li>
          </ul>
          <!-- Links -->
      </links>
      <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->

<!--Main layout-->
<main>

</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer mt-4">

    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2015 Copyright:
            <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->