<!--Main Navigation-->
<header>
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    
        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>
    
        <!-- Collapsible content -->
        <links>
    
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
                </li>
    
                <!-- Dropdown -->
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    Basic dropdown<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                    </div>
                </li>
    
            </ul>
            <!-- Links -->
    
            <!-- Search form -->
            <form class="form-inline waves-light" mdbWavesEffect>
                <div class="md-form mt-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                </div>
            </form>
        </links>
        <!-- Collapsible content -->
    
    </mdb-navbar>
    <!--/.Navbar-->

  <!--Mask-->
  <div id="intro" class="view">

      <div class="mask rgba-black-strong">

          <div class="container-fluid d-flex align-items-center justify-content-center h-100">
  
              <div class="row d-flex justify-content-center text-center">
  
                  <div class="col-md-10">
  
                      <!-- Heading -->
                      <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Travel</h2>
  
                      <!-- Divider -->
                      <hr class="hr-light">
  
                      <!-- Description -->
                      <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consequuntur.</h4>
                      <button type="button" class="btn btn-outline-white">Read more<i class="fa fa-book ml-2"></i></button>
  
                  </div>
  
              </div>
  
          </div>
  
      </div>

  </div>
  <!--/.Mask-->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5">
    <div class="container">

        <!--Section: Best Features-->
        <section id="best-features" class="text-center">

          <!-- Heading -->
          <h2 class="mb-5 font-weight-bold">Best Features</h2>

          <!--Grid row-->
          <div class="row d-flex justify-content-center mb-4">

              <!--Grid column-->
              <div class="col-md-8">

                  <!-- Description -->
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                      facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                      sit pariatur.</p>

              </div>
              <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">

              <!--Grid column-->
              <div class="col-md-4 mb-1">
                  <i class="fa fa-camera-retro fa-4x orange-text"></i>
                  <h4 class="my-4">Experience</h4>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                      assumenda deleniti hic.</p>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 mb-1">
                  <i class="fa fa-heart fa-4x orange-text"></i>
                  <h4 class="my-4">Happiness</h4>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                      assumenda deleniti hic.</p>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4 mb-1">
                  <i class="fa fa-bicycle fa-4x orange-text"></i>
                  <h4 class="my-4">Adventure</h4>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                      assumenda deleniti hic.</p>
              </div>
              <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>
        <!--Section: Best Features-->

        <hr class="my-5">

        <!--Section: Examples-->
        <section id="examples" class="text-center">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold">Stunning Examples</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                        assumenda deleniti hic.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                        assumenda deleniti hic.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/29.jpg" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                        assumenda deleniti hic.</p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/10.jpg" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                        assumenda deleniti hic.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/11.jpg" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                        assumenda deleniti hic.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
                        assumenda deleniti hic.</p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Examples-->

        <hr class="my-5">

        <!--Section: Gallery-->
        <section id="gallery">

          <!-- Heading -->
          <h2 class="mb-5 font-weight-bold text-center">Gallery heading</h2>

          <!--Grid row-->
          <div class="row">

              <!--Grid column-->
              <div class="col-md-6 mb-4">

                <!--Carousel Wrapper-->
                <mdb-carousel [isControls]="true" [animation]="'slide'">
                    <!--First slide-->
                    <mdb-carousel-item>
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
                    </mdb-carousel-item>
                    <!--/First slide-->
                    <!--Second slide-->
                    <mdb-carousel-item>
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
                    </mdb-carousel-item>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <mdb-carousel-item>
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
                    </mdb-carousel-item>
                    <!--/Third slide-->
                </mdb-carousel>
                <!--/.Carousel Wrapper-->

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6">
                <!--Excerpt-->
                <a href="" class="teal-text">
                    <h6 class="pb-1"><i class="fa fa-heart"></i><strong> Lifestyle </strong></h6>
                </a>
                <h4 class="mb-3"><strong>This is title of the news</strong></h4>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                    placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis
                    debitis aut rerum.</p>

                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                    placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis
                    debitis aut rerum.</p>
                <p>by <a><strong>Jessica Clark</strong></a>, 26/08/2016</p>
                <a class="btn btn-primary btn-md">Read more</a>
              </div>
              <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>
        <!--Section: Gallery-->

        <hr class="my-5">

        <!--Section: Contact-->
        <section id="contact">
            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center">Contact us</h2>

            <!--Grid row-->
            <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 col-md-12">
                <!-- Form contact -->
                <form class="p-5">
                <div class="md-form form-sm"> <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="form3" class="form-control form-control-sm">
                    <label for="form3">Your name</label>
                </div>
                <div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="form2" class="form-control form-control-sm">
                    <label for="form2">Your email</label>
                </div>
                <div class="md-form form-sm"> <i class="fa fa-tag prefix grey-text"></i>
                    <input type="text" id="form32" class="form-control form-control-sm">
                    <label for="form34">Subject</label>
                </div>
                <div class="md-form form-sm"> <i class="fa fa-pencil prefix grey-text"></i>
                    <textarea type="text" id="form8" class="md-textarea form-control form-control-sm" rows="4"></textarea>
                    <label for="form8">Your message</label>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-primary">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                </div>
                </form>
                <!-- Form contact -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-7 col-md-12">
                <!--Grid row-->
                <div class="row text-center">
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-3">
                
                        <p><i class="fa fa-map fa-1x mr-2 grey-text"></i>Bordeaux</p>
                
                    </div>
                    <!--Grid column-->
                
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-3">
                
                        <p><i class="fa fa-building fa-1x mr-2 grey-text"></i>{{ clickCoord }}</p>
                
                    </div>
                    <!--Grid column-->
                
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-3">
                
                        <p><i class="fa fa-phone fa-1x mr-2 grey-text"></i>+ 01 234 567 89</p>
                
                    </div>
                    <!--Grid column-->
                
                </div>
                <!--Grid row-->
                <div id="map" class="map"></div>
                <div style="display: none;">
                    <!-- Clickable label for Vienna -->
                    <a class="overlay" id="vienna" target="_blank" href="http://en.wikipedia.org/wiki/Vienna">Vienna</a>
                    <div id="marker" title="Marker"></div>
                    <!-- Popup -->
                    <div id="popup" title="Welcome to OpenLayers"></div>
                </div>
            </div>
            <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Contact-->

    </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer unique-color-dark pt-0">

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">
    
            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Company name</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit.</p>
            </div>
            <!--/.First column-->
    
            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Products</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">MDBootstrap</a>
                </p>
                <p>
                    <a href="#!">MDWordPress</a>
                </p>
                <p>
                    <a href="#!">BrandFlow</a>
                </p>
                <p>
                    <a href="#!">Bootstrap Angular</a>
                </p>
            </div>
            <!--/.Second column-->
    
            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Useful links</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Your Account</a>
                </p>
                <p>
                    <a href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>
            </div>
            <!--/.Third column-->
    
            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> info@example.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                <p>
                    <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!--/.Fourth column-->
    
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->