/* You can add global styles to this file, and also import other style files */
html,
body
 {
    height: 100% !important;
}

.body-eee {
    background-color: #eee;
}

.sn-bg-custom {
    background-image: url('/assets/menu-bg.jpg');
}