 <!-- Sidebar navigation -->
 <mdb-side-nav #sidenav class="fixed sn-bg-custom" [fixed]="true">

    <logo>
        <!-- Logo -->
        <li>
            <div class="logo-wrapper waves-light">
                <a href="#">
                    <img src="assets/bigmouth-logo.png" class="img-fluid flex-center">
                </a>
            </div>
        </li>
        <!--/. Logo -->
    </logo>
    
    <links>
        <!--Social-->
        <!-- <li>
            <ul class="social">
                <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a></li>
                <li><a class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i></a></li>
                <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a></li>
                <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a></li>
            </ul>
        </li> -->
        <!--/Social-->
        <!--Search Form-->
        <!-- <li>
            <form class="search-form" role="search">
                <div class="form-group md-form mt-0 pt-1 waves-light" mdbWavesEffect>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </li> -->
        <!--/.Search Form-->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <mdb-accordion [multiple]="false" aria-multiselectable="false">
    
                    <!-- Simple link -->
                    <mdb-accordion-item class="no-collase">
                        <mdb-accordion-item-head mdbWavesEffect><i class="fa fa-hand-pointer-o"></i> Mes stats</mdb-accordion-item-head>
                        <mdb-accordion-item-body></mdb-accordion-item-body>
                    </mdb-accordion-item>
    
                        <!-- Simple link -->
                    <mdb-accordion-item class="no-collase">
                        <mdb-accordion-item-head mdbWavesEffect><i class="fa fa-diamond"></i> Mes spots de peche</mdb-accordion-item-head>
                        <mdb-accordion-item-body></mdb-accordion-item-body>
                    </mdb-accordion-item>

                    <!-- Simple link -->
                    <mdb-accordion-item class="no-collase">
                        <mdb-accordion-item-head mdbWavesEffect><i class="fa fa-diamond"></i> Mes sessions</mdb-accordion-item-head>
                        <mdb-accordion-item-body></mdb-accordion-item-body>
                    </mdb-accordion-item>
    
                </mdb-accordion>
            </ul>
        </li>
        <!--/. Side navigation links -->
    </links>

    <div class="sidenav-bg mask-strong"></div>
</mdb-side-nav>
<!--/. Sidebar navigation -->
    
<!-- Navbar -->
<mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav" [containerInside]="false">

    <navlinks class="navbar-container">
        <!-- SideNav slide-out button -->
        <div class="float-left">
            <a (click)="sidenav.show()" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <!--/. SideNav slide-out button -->
    </navlinks>

    <logo>
        <!-- Breadcrumb-->
        <div class="breadcrumbs breadcrumb-dn mr-auto">
            <p>La passion de la peche</p>
        </div>
        <!--/. Breadcrumb-->
    </logo>

    <navlinks>
        <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/app', { outlets: { 'homemain': ['account'] } }]" class="nav-link waves-light" mdbWavesEffect><i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Mon compte</span></a>
            </li>
            <li class="nav-item">
                <a (click)="signOut()" class="nav-link waves-light" mdbWavesEffect><i class="fa fa-sign-out"></i> <span class="clearfix d-none d-sm-inline-block">Se déconnecter</span></a>
            </li>
        </ul>
    </navlinks>
</mdb-navbar>
<!--/. Navbar -->